shamefully-hoist = true

# slected Scopes: api & read_registry
@kawaii:registry=https://gitlab.ugaming.io/api/v4/projects/485/packages/npm/
//gitlab.ugaming.io/api/v4/projects/485/packages/npm/:_authToken=${BOT_PRIVATE_TOKEN}

@marketplace:registry=https://gitlab.ugaming.io/api/v4/projects/42/packages/npm/
//gitlab.ugaming.io/api/v4/projects/42/packages/npm/:_authToken=${BOT_PRIVATE_TOKEN}

@media:registry=https://gitlab.ugaming.io/api/v4/projects/643/packages/npm/
//gitlab.ugaming.io/api/v4/projects/643/packages/npm/:_authToken=${BOT_PRIVATE_TOKEN}
